<h1>Register New User</h1>
<form action=<%= users_url %> method="post" >
  <p><label>
    Username:
    <input type="text" id="user_user_name" name="user[user_name]">
  </label>
</p>
  <p><label>
    Password:
    <input type="password" id="user_password" name="user[password]">
  </label>
</p>
  <input type="submit">
</form>