<h1>Edit a Cat</h1>

<form action="<%= edit_cat_url(@cat.id) %>" method="post">

  <input type="hidden" name="_method" value="PUT">
  <%= render "shared/form_header" %>
  <%= render "cats/input", cat: @cat %>

  <input type="submit" value="Update my cat!">
</form>