<h1>Cats List</h1>

<strong><%= link_to "View Your Cats' Rentals", user_url(current_user.id) unless current_user.nil? %></strong>

<ul>
  <% @cats.each do |cat| %>
  <li>
    <%= link_to "#{cat.name}", cat_url(cat) %>
  </li>
  <% end %>
</ul>

